.x-grid3-col-actions {
	padding: 6px 0 6px 6px;
}

ul.gl-row-actions {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.gl-row-actions li {
	float: left;
}

ul.gl-row-actions .btn {
	padding: 5px;
	margin-right: 2px;
	min-width: 26px;
	font-size: inherit;
}

.gl-grid-row-disabled {
	font-style: italic;
	opacity: .6;
	color: #555;
}

.gl-formpanel {
	padding-top: 25px;
}

.gl-formpanel .panel-desc {
	margin-top: 2px;
	padding: 9px 20px 9px 10px!important;
}

.gl-grid .x-panel-tbar-noheader {
	margin-top: -10px!important;
}

.red {
	color: darkred !important;
}

.green {
	color: darkgreen !important;
}

.blue {
	color: cadetblue !important;
}

.yellow {
	color: goldenrod !important;
}

.gray {
	color: dimgray !important;
}

a.x-menu-item .x-menu-item-text, a.x-menu-item .x-menu-item-text .icon {
	cursor: pointer;
}

a.x-menu-item .x-menu-item-text .icon {
	line-height: 16px;
	top: auto;
}

.x-menu-list .icon {
	min-width: 1em;
	text-align: center;
}

.x-menu-list-item:hover .icon {
	color: inherit !important;
}

/*
ul.gl-row-actions .actions-menu {width: 40px;}
ul.gl-row-actions .actions-menu:after {content: " \f107";}
*/


/* icon in button */
.ext-strict .x-menu-item-icon.fa {
	left: 6px;
}
/* actions menu */
.btn.actions-menu {width: 40px;}
.btn.actions-menu:after {content: " \f107";}

/* actions menu */
.gl-cogs img {
	_display: none;
}
.gl-cogs {
	padding: 3px 20px 3px 6px!important;
}
.gl-cogs i.fa {
	padding-right: 3px;
	width: 15px;
}
/* description field */
p.desc {
	margin: 20px 0px -30px 40px;
	max-width: 350px;
	color: #000;
}


/* grid color */
span.gl-grid-color {
	width: 50px;
	height: 24px;
	border-radius: 3px;
	display: block;
	margin: -5px 0px -5px 0px;
}


/* search field */
.x-field-search-clear,
.x-field-search-go {border-left: 1px solid #e4e4e4 !important;}
.x-field-search-clear:hover,
.x-field-search-go:hover {border-left-color: transparent !important;}
.x-field-search-clear:before {content: '\f00d' !important;}
.x-field-search-go {right: 31px !important; border-radius: 0 !important;}
.x-field-search-go:before {content: '\f002' !important;}

/* gl-active field */
.x-field-gl-active-clear,
.x-field-gl-active-go {border-left: 1px solid #e4e4e4 !important;}
.x-field-gl-active-clear:hover,
.x-field-gl-active-go:hover {border-left-color: transparent !important;}
.x-field-gl-active-clear:before {content: '\f00d' !important;}
.x-field-gl-active-go {right: 31px !important; border-radius: 0 !important;}
.x-field-gl-active-go:before {content: '\f204' !important;}
